# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: api
#   namespace: todo-lab
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: api
#   template:
#     metadata:
#       labels:
#         app: api
#     spec:
#       containers:
#         - name: api
#           image: arunkumarcarch/todo_api_2:v1.0.0
#           imagePullPolicy: IfNotPresent
#           ports:
#             - containerPort: 8000
#           envFrom:
#             - configMapRef:
#                 name: api-config
#             - secretRef:
#                 name: db-secret
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: todo-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: arunkumarcarch/todo_api_image_mon:19d3a77f59ca9e2d0d00c743ea417bb7308ba646
          ports:
            - containerPort: 8000
          env:
            - name: DB_HOST
              value: "db-service"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_DB
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_PASSWORD
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
